<!-- postContent.ejs -->
<p class="display-10 lead"><%= post.content %></p>
<p class="py-0 my-0 text-end">
    <%= post.author %><br>
    <% if (post.email != 'none') { %>
    <%= post.email %>
    <% } %>
</p>
<!-- Add more content fields as needed -->
