<%- include("partials/header.ejs") %>
<%- include("partials/navi.ejs") %>

    <div class="container-fluid max-height">
      <div class="row align-items-start">
        <div class="col-12 col-md-6 d-none d-md-flex align-items-start justify-content-center">
          <img
            class="img-fluid rounded-circle"
            src="/images/logo2.png"
            alt="logo image"
          />
        </div>
        <form class="p-3 col-12 col-md-6 scrollable-text" enctype="application/x-www-form-urlencoded" action="/submit" method="POST">
          <div class="mb-3">

            <% if (locals.submittedText) { %>
              <p class="display-6 lead text-center text-md-start">
                <%= submittedText %>
              </p>
              <% } else { %>
                <p class="display-6 lead text-center text-md-start">
                  Write new blog post.
                </p>                
              <% } %>

            <label for="author" class="form-label">Your name</label>
            <input type="text" name="author" class="form-control" id="author" placeholder="Jorn Barger" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com (optional)">
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Blog post</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Title for blog post" required>
          </div>
          <div class="mb-3">
            <label for="blogPost" class="form-label"></label>
            <textarea name="content" class="form-control custom-input-height" id="blogPost" placeholder="Write your blog post here." required></textarea>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" name="editable" class="form-check-input" id="checkboxEditable">
            <label class="form-check-label" for="checkboxEditable">Post editable afterwards</label>
          </div>
          <button type="submit" class="btn btn-primary mb-4">Submit</button>
        </form>
      </div>
    </div>

<%- include("partials/footer.ejs") %>