<%- include("partials/header.ejs") %>
<%- include("partials/navi.ejs") %>

    <div class="container my-5">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <img
            class="img-fluid rounded-circle max-height-50"
            src="/images/logo2.png"
            alt="logo image"
          />
        </div>
        <div class="p-3 col-12 col-md-6">
          <p class="display-6 lead text-center text-md-start">
            Welcome to simple web blog post application.
          </p>
          <p class="display-7 lead text-center text-md-start">
            Write, read and edit web blog posts easily.
          </p>
        </div>
      </div>
    </div>

<%- include("partials/footer.ejs") %>