.custom-input-height {
  height: 50vh; /* Adjust the height as needed */
}

.max-height {
  max-height: 85vh;
  margin-top: 7em;
  margin-bottom: 10em;
  overflow-y: none;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  #logo-image {
    max-height: 50vh;
  }
}